ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
}

.todo-list-wrapper {
    margin: 10px 0;
}
.edit-form {
    max-width: 550px;
}
.edit-btn {
    display: flex;
    justify-content: space-around;
}