.item-wrapper {
    position: relative;
    max-width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 15px 10px;
    width: 100%;
    font-size: 18px;
    color: black;
    background-color: #FFAE00;
    border-radius: 10px;
}
.todo-text{
    width: 350px;
}
.todo-item-checkbox {
    max-width: 11px;
    margin: 0;
    padding: 0;
}
.todo-delete-btn {
    padding: 18px;
    margin: 0;
    width: 16px;
    background: url(../../assets/delet-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease-in-out .5s;
}
.todo-delete-btn:hover {
    transform: scale(1.1);
}
.todo-edit-btn {
    padding: 18px;
    margin: 0;
    width: 16px;
    background: url(../../assets/edit-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease-in-out .5s;
}
.todo-edit-btn:hover {
    transform: scale(1.1);
}